<app-header></app-header>
<div class="parent">
  <div class="parrent">
    <div class="main">
      <div class="body">
        <div class="btech"><h2>B.TECH</h2></div>
        <hr class="hr1">
        <div class="intake"><h4>INTAKE</h4>
            <h5>75+</h5>
        </div>
      </div>
      <div class="overview "><a href="#" class="nav-link">Overview</a>
      </div>
      <hr>
      <div style="margin-top: 2em;">
        <h4  class="board">Notice Board</h4>
        <div class="notice">

          <ul class="scrolling-list" *ngFor="let n of notice.reverse()">
              <li><a href="https://localhost:44391/api/Files/download/{{n.id}}">{{n.fileName}}</a>
          </ul>
      </div>

      </div>
    </div>
    <div class="containt">
      <h3 class="header1">Information Technology</h3>
      <div class="allAbout">
        <p>
          In this knowledge era, information is the key to the success of any nation or corporate house.
          But management of this information is very crucial to the survival of the fittest in this
          competitively evolving world of today. Our course in information technology equips our pupils
           to learn and apply the tools & technology so that they leave an indelible mark on societal
           development as a whole by integrating into the curriculum topics like Internet of Things,
           Cloud Computing etc.
        </p>
        <img src="./assets/itHome.jpg" alt="">
      </div>
      <button class="btn btun" (click)="viewMore()">View More</button>
    </div>
  </div>
</div>
<button class="chat-bot-btn" (click)="chat()">IET Bot</button>
<app-footer></app-footer>
